* {
    box-sizing: border-box;
    color: inherit;
    
}

body{
    background-color: #e1dfdd;
    margin: 2rem;
}

html {
    font-size: 62.5%;
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

@media all and (min-width : 580px) {
    body{
        margin: 4rem;
    }
}
@media all and (min-width : 800px) {
    body{
        margin: 6rem;
    }
}