@font-face {
    font-family: "Neue-Montreal";
    src: url(../font/NeueMontreal-Medium.otf);
}
@font-face {
    font-family: "Neue-Montreal-light";
    src: url(../font/NeueMontreal-Light.otf);
}
@font-face {
    font-family: "Neue-Montreal-regular";
    src: url(../font/NeueMontreal-Regular.otf);
}

body {
    font-family:"Neue-Montreal-regular";
    font-size: 1.5rem;
}
h2, h3 {
    font-size: 2.5rem;
    font-weight: 750;
}


@media (min-width : 425px ){
    // A partir de 425px on va afficher...
    body {
        font-size: 2rem;
    }

    h2, h3 {
        font-size: 3.5rem;
    }


}
