header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 100%;
    background-color: #e1dfdd;
}

.navigation, .navbar, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    height: 100%;
    width: 100%;
    padding: 6rem;
    font-weight: bolder;
    transform: translateY(-5rem);
    animation: 1.5s slideIn cubic-bezier(0.62,0.05,0.01,0.99) forwards 1s;
    opacity: 0;
    
    .home{ 
        font-size: 3rem;
    }
}

@keyframes slideIn {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

.menu a {
    margin-left: 4vw;
display: inline-block;
 }

.toggle,.none {
    display: none;
}

.highlighted{
    position: relative;
}



.highlighted::after {
    content: "";
    position: absolute;
    background: #000000;
    height: 2px;
    width: 0%;
    left: 0;
    bottom: -0.3rem;
    transform-origin: right;
    transition: 0.3s cubic-bezier(0.65, 0.05, 0.36, 1);
  }


  
  .highlighted:hover::after {
    width: 100%;
    transform: scale(1);
  }

@media all and (max-width : 580px) {
    header .navbar {
        .menu {
            font-size: 3rem;
        }
    }
}

@media all and (max-width : 800px) {
    .toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;

        &__open {
            display: block;
            font-size: 3rem;
        }

        &__close {
            display: none;
        }
    }

    .open .toggle__open {
        display: none;
    }

    .open .toggle__close {
        display: block;
        color: #e1dfdd;
        font-size: 4rem;
    }

    .open .home {
        color: #e1dfdd;
        z-index: 20;
    }

    .open .animated-title > div.text-top h2 {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: #464c47;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateY(-100%);

        .menu {
            flex-direction: column;
            align-items: flex-start;
            font-size: 6rem;
            text-transform: uppercase;
        }

        p, a {
            color: #e1dfdd;
            margin-bottom: 1rem;
        }
        .highlighted::after {
            background: #e1dfdd;
            height: 6px;
        }

    }

    .open .navbar {
        transform: translateY(0);
        transition: 0.8s cubic-bezier(0, 0, .56, 0);
    }
}

main {
    margin-top: 20rem;
}