header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vh;
    width: 100%;
    background-color: #e1dfdd;
}

.navigation, .navbar, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    height: 100%;
    width: 100%;
    padding: 6rem;
    font-weight: bolder;
    
    .home{ 
        font-size: 3rem;
    }
}
.menu a {
    margin-left: 4vw;
}
.navbar p{
    margin-right: 15vw;
}


.toggle,.none {
    display: none;
}

@media all and (max-width : 580px) {
    header .navbar {
        .menu {
            font-size: 4rem;
        }
    }
}

@media all and (max-width : 800px) {
    .toggle {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 20;

        &__open {
            display: block;
            font-size: 3rem;
        }

        &__close {
            display: none;
        }
    }

    .open .toggle__open {
        display: none;
    }

    .open .toggle__close {
        display: block;
        color: #e1dfdd;
        font-size: 4rem;
    }

    .open .home {
        color: #e1dfdd;
        z-index: 20;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #464c47;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateY(-100%);

        .menu {
            flex-direction: column;
            align-items: flex-start;
            font-size: 6rem;
            text-transform: uppercase;
        }

        p, a {
            color: #e1dfdd;
            margin: 4rem 2rem;
        }

    }

    .open .navbar {
        transform: translateY(0);
        transition: 0.8s cubic-bezier(0, 0, .56, 0);
    }
}

main {
    margin-top: 20rem;
}