@use "base/typography";

h2{
    font-size: 8rem;
    text-transform: uppercase;
}

.name {
    text-align: end;
}

.list{
    &__number{
        margin: 4rem 0;
        font-family: "Neue-Montreal-light";
    }

    &__text{
        margin-bottom: 2rem;
        &__uppercase{
            text-transform: uppercase;
            font-size: 2.5rem;
            margin-bottom: 5rem;
        }
    }
}


@media all and (min-width : 800px) {
    .list{
        display: flex;
        margin-top: 20rem;

        &__number{
            margin: 0;
            margin-right: 20%;
        }

        &__text{
            &__uppercase{
                font-size: 4rem;
                br{
                    margin: 2rem;
                }
            }
        }
    }
}